.modal-div {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  pointer-events: auto;
  position: relative;
  z-index: 101;

  padding: 2rem;
  background-color: var(--black-bg-dark);
  border: 1px solid var(--grey-border);
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  hr {
    color: var(--yellow-primary);
  }

  .fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    > div {
      display: flex;
      flex-direction: column;
    }
  }
  .buttons {
    button:nth-child(even) {
      margin: 0.5rem;
    }
  }
  .close-button-div {
    text-align: right;
    cursor: pointer;
    img {
      width: 35px;
    }
  }
  textarea {
    resize: none;
  }
}

.open-animation {
  animation: fadeIn 0.5s ease-out forwards;
  .modal-dialog {
    animation: floatIn 0.5s ease-in-out;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes floatIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.close-animation {
  animation: fadeOut 0.5s ease-out forwards;
  .modal-dialog {
    animation: floatOut 0.5s ease-in-out;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes floatOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: fit-content;
  }
}

@media (max-width: 768px) {
  .modal-dialog {
    width: 100vw;
    max-height: 98dvh;
    margin: 2rem 1rem;
    overflow-y: auto;
    .fields {
      div {
        width: 100%;
      }
    }
  }
}
