<div class="modal-div" [ngClass]="modalAnimation()">
  <div class="modal-dialog">
    <div class="close-button-div">
      <img (click)="onCloseModal()" src="assets/icons/close.svg" />
    </div>
    <hr />
    <div class="fields">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Név</mat-label>
          <input
            type="text"
            matInput
            [formField]="tenderForm.name"
            placeholder="Hogyan szólíthatom?"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Helyszín</mat-label>
          <mat-select [formField]="tenderForm.location">
            @for (location of locations(); track location) {
              <mat-option [value]="location">{{ location }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Projekt típusa</mat-label>
          <mat-select [formField]="tenderForm.typeOfPavement">
            @for (pavementType of pavementTypes(); track pavementType) {
              <mat-option [value]="pavementType">{{ pavementType }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input
            type="email"
            matInput
            [formField]="tenderForm.email"
            placeholder="Pl.: teszt@gmail.com"
          />
          @if (tenderForm.email().touched() && tenderForm.email().invalid()) {
            @for (error of tenderForm.email().errors(); track error) {
              <em class="text-danger txt-s">{{ error.message }}</em>
            }
          }
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Telefon</mat-label>
          <input
            type="text"
            matInput
            [formField]="tenderForm.phone"
            placeholder="Pl.: +36301234567"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Rövid leírás</mat-label>
          <input
            type="text"
            matInput
            [formField]="tenderForm.shortDesc"
            placeholder="Pl.: fürdőszoba felújítás"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Részletek</mat-label>
          <textarea
            type="text"
            rows="5"
            matInput
            [formField]="tenderForm.longDesc"
            placeholder="Pontosan mik a tervek?"
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="buttons">
      <button [disabled]="tenderForm().invalid()" (click)="onSubmitForm()" class="primary-btn">
        Küldés
      </button>
      <button (click)="onCloseModal()" class="primary-btn-dark">Mégse</button>
    </div>
  </div>
</div>
