<div class="section">
  <!--Highlighted contacting-->
  <div class="highlight-contacts-container">
    <div class="title">
      <span class="txt-xxl bold">Kezdjük a munkát!</span>
      <span class="txt-m">Keressen meg - 48 órán belül válaszolok!</span>
    </div>
    <div class="action">
      <button class="primary-btn-dark" (click)="modalService.openModal()">Online üzenet</button>
      <div class="action-phone">
        <span class="txt-s">Hívjon bármikor!</span>
        <a href="tel:+36309940002" class="txt-m bold"> +36 30 994 00 02 </a>
      </div>
    </div>
  </div>

  <!--Contact details-->
  <div class="details-container">
    <div class="description-container">
      <div class="title-section">
        <div class="img-wrapper">
          <img loading="lazy" src="/assets/icons/handshake.svg" />
        </div>
        <span class="txt-l txt-light">Az Ön otthona, a Mi projetünk</span>
      </div>

      <span class="txt-m txt-yellow"
        >A közös munka a kapcsolatfelvétellel kezdődik. Keressen meg, és már kezdhetjük is!</span
      >
    </div>
    <div class="contact-list">
      <span class="txt-yellow thin">Elérhetőségek:</span>
      <div class="phone-container clickable">
        <a href="tel:+36309940002">
          <img loading="lazy" src="/assets/icons/phone-yellow.svg" />
          <span class="txt-s txt-yellow">+36309940002</span>
        </a>
      </div>

      <div class="email-container clickable">
        <a href="mailto:nabsabt@gmail.com">
          <img loading="lazy" src="/assets/icons/email-yellow.svg" />
          <span class="txt-s txt-yellow">nabsabt@gmail.com</span>
        </a>
      </div>
    </div>
  </div>
</div>
