.section,
.title-section {
  display: flex;
  flex-direction: column;
}

.section {
  .subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    .pseudoclass {
      width: 40px;
      height: 20px;
      border-bottom: 1px solid var(--yellow-primary);
      transform: translateY(-50%);
    }
  }
  background-color: var(--black-bg-lighter);
  justify-content: center;
  gap: 2rem;

  table {
    th,
    td {
      padding: 1rem;
    }
    border: 1px solid var(--grey-border);
    caption {
      color: var(--yellow-primary);
    }
    thead {
      background-color: var(--dark-grey-table-header);
      color: var(--yellow-primary);
    }
    tbody {
      tr {
        transition: 200ms;
        border: 1px solid var(--grey-border);
        height: 4rem;
        cursor: pointer;
        &:hover,
        &.active {
          transition: 200ms;
          transform: scale(1.015);
          background-color: var(--dark-grey-table-header) !important;
          > td {
            font-weight: 800;
          }
        }

        &:nth-child(even) {
          background-color: var(--black-bg-dark);
        }
        &:nth-child(odd) {
          background-color: var(--grey-inputfield);
        }
        th {
          color: var(--light-text);
        }
        td {
          color: var(--yellow-primary);
        }
      }
    }
  }
}

@media (max-width: 420px) {
  table {
    font-size: clamp(0.7rem, 0.65rem + 0.2vw, 0.9rem);
  }
}
