<div class="section">
  <!--Title-->
  <div class="title-section">
    <span class="txt-yellow txt-m">Szolgáltatások árlistája</span>
    <span class="txt-light txt-huge bold">Árak</span>
  </div>

  <!--Table-->
  <table>
    <caption class="txt-m thin">
      <em>*Az árak egyéni, speciális igények esetében változhatnak!</em>
    </caption>
    <thead>
      <tr>
        <th scope="col">Szolgáltatás</th>
        <th scope="col">Egység</th>
        <th scope="col">Ár (ÁFA-t tartalmazza)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Igényfelmérés</th>
        <td>m<sup>2</sup></td>
        <td>Ingyenes</td>
      </tr>
      <tr>
        <th scope="row">Aljzat kiegyenlítés</th>
        <td>m<sup>2</sup></td>
        <td>3000 Ft</td>
      </tr>
      <tr>
        <th scope="row">Beton felcsiszolás</th>
        <td>m<sup>2</sup></td>
        <td>3000 Ft</td>
      </tr>
      <tr>
        <th scope="row">Mélyalapozás</th>
        <td>m<sup>2</sup></td>
        <td>3000 Ft</td>
      </tr>
      <tr>
        <th scope="row">Vízszigetelő szőnyeg fektetés</th>
        <td>m<sup>2</sup></td>
        <td>3.000 Ft</td>
      </tr>
      <tr>
        <th scope="row">Hidegburkolás</th>
        <td>m<sup>2</sup></td>
        <td>12.000 Ft</td>
      </tr>
      <tr>
        <th scope="row">Melegburkolás</th>
        <td>m<sup>2</sup></td>
        <td>6.000 Ft</td>
      </tr>
    </tbody>
    <!-- <tfoot>
      <tr>
        <th scope="row" colspan="2">Average age</th>
        <td>33</td>
      </tr>
    </tfoot> -->
  </table>
</div>
