<div class="home-container">
  <div class="hero-section">
    <img
      [ngClass]="heroBgImgClass()"
      loading="lazy"
      sizes="auto"
      src="/assets/imgs/hero-section-img.webp"
      (load)="onHeroBgImgLoaded()"
    />
    <!-- Text in the hero section -->
    <div class="text-content">
      <span class="txt-yellow bold">Budapest & környéke - több év tapasztalat</span>

      <span class="txt-light txt-huge bold">Hideg &</span
      ><span class="txt-yellow txt-huge bold">meleg</span
      ><span class="txt-light txt-huge bold">burkolás</span>

      <span class="desc txt-yellow"
        >Professzionális kőműves burkolás, fürdőszoba- és padlóburkolás. Fix árak, igényfelmérés,
        testreszabott eredmények.</span
      >
      <!-- Statistics -->
      <div class="stats">
        <div class="stat-block">
          <span class="txt-yellow bold txt-xxl">35+</span>
          <span class="txt-yellow txt-s">Befejezett projekt</span>
        </div>
        <div class="stat-block">
          <span class="txt-yellow bold txt-xxl">98%</span>
          <span class="txt-yellow txt-s">Feletti ügyfélelégedettség</span>
        </div>
        <div class="stat-block">
          <span class="txt-yellow bold txt-xxl">10 nap</span>
          <span class="txt-yellow txt-s">Alatt igényfelmérés</span>
        </div>
      </div>
    </div>
  </div>
  <services-section #services id="services"></services-section>
  <prices-section #prices id="prices"></prices-section>
  <portfolio-section #portfolio id="portfolio"></portfolio-section>
  <contact-section #contact id="contact"></contact-section>
</div>
