<div class="section">
  <!--Title-->
  <div class="title-section">
    <div class="subtitle">
      <div class="pseudoclass"></div>
      <span class="txt-yellow txt-m">Mit csinálok?</span>
    </div>
    <span class="txt-light txt-xxl bold">Szolgáltatások</span>
  </div>

  <!--Services-->
  <div class="service-cards-section">
    <!--Felmérés-->
    <div class="card">
      <div class="title">
        <div class="img-wrapper">
          <img loading="lazy" src="/assets/icons/question-mark.svg" />
        </div>
        <span class="txt-light txt-l bold">Felmérés</span>
      </div>

      <span class="txt-yellow txt-m"
        >A burkolandó, kezelendő helyiség, felület állapotának felmérése, konzultáció, igények
        rögzítése</span
      >
    </div>

    <!--Előkészítés-->
    <div class="card">
      <div class="title">
        <div class="img-wrapper">
          <img loading="lazy" src="/assets/icons/measure.svg" />
        </div>
        <span class="txt-light txt-l bold">Előkészítés</span>
      </div>

      <span class="txt-yellow txt-m"
        >A munkafelület előkészítése, például mélyalapozás, aljzat kiegyenlítése,
        betoncsiszolás</span
      >
    </div>

    <!--Vízszigetelés-->
    <div class="card">
      <div class="title">
        <div class="img-wrapper">
          <img loading="lazy" src="/assets/icons/no-water.svg" />
        </div>
        <span class="txt-light txt-l bold">Vízszigetelés</span>
      </div>

      <span class="txt-yellow txt-m"
        >Vizes blokkok, nedvességnek kitett felületek vízszigetelése, vízzáró lemez/feszültség
        elvezető lemez fektetése, negatív sarkok tömítése</span
      >
    </div>

    <!--Bontás-->
    <div class="card">
      <div class="title">
        <div class="img-wrapper">
          <img loading="lazy" src="/assets/icons/hammer.svg" />
        </div>
        <span class="txt-light txt-l bold">Bontás</span>
      </div>

      <span class="txt-yellow txt-m"
        >Régi csemperagasztó, burkolat, egyenetlen vakolat bontása</span
      >
    </div>

    <!--Hidegburkolás-->
    <div class="card">
      <div class="title">
        <div class="img-wrapper">
          <img loading="lazy" src="/assets/icons/coldtile.svg" />
        </div>
        <span class="txt-light txt-l bold">Hidegburkolás</span>
      </div>

      <span class="txt-yellow txt-m"
        >Kerámia járólapok, csempék szakszerű felhelyezése konyhában, fürdőszobában, mosdóban</span
      >
    </div>

    <!--Melegburkolás-->
    <div class="card">
      <div class="title">
        <div class="img-wrapper">
          <img loading="lazy" src="/assets/icons/warmtile.svg" />
        </div>
        <span class="txt-light txt-l bold">Melegburkolás</span>
      </div>

      <span class="txt-yellow txt-m"
        >PVC, faparketta, laminált padló, szőnyeg elhelyezése nappaliban, lakóhelyiségekben</span
      >
    </div>
  </div>
</div>
