/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import 'photoswipe/style.css';

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh; /* fallback */
  min-height: 100dvh; /* preferred */
  padding: 0;
  margin: 0;
  font-family: 'SpaceGrotesk';
  //overflow: hidden;
}

:root {
  --black-bg-dark: #1a1a18;
  --light-text: #f0ead8;
  --grey-border: #333330;
  --grey-inputfield: #252522;
  --yellow-primary: #c9a84c;
  --black-bg-lighter: #2c2c28;
  --yellow-secondary: #c2c26f;
  --dark-grey-card-bg: #222220;
  --dark-grey-table-header: #3a3a35;

  --button-hovered: #b1923c;
  --button-clicked: #9c7f30;

  --menu-button-hovered: #2c2c28;
  --menu-button-clicked: #3a3a35;

  --navbar-height-pc: 75px;
  --navbar-height-mobile: 65px;
}

.txt-light {
  color: var(--light-text);
}
.txt-yellow {
  color: var(--yellow-primary);
}

.bold {
  font-weight: 800;
}
.semi-bold {
  font-weight: 700;
}
.thin {
  font-weight: 100;
}

.txt-xs {
  font-size: clamp(0.5rem, 0.48rem + 0.15vw, 0.7rem);
}

.txt-s {
  font-size: clamp(0.7rem, 0.65rem + 0.2vw, 0.9rem);
}

.txt-m {
  font-size: clamp(0.9rem, 0.85rem + 0.3vw, 1.1rem);
}

.txt-l {
  font-size: clamp(1.1rem, 1rem + 0.5vw, 1.4rem);
}

.txt-xl {
  font-size: clamp(1.4rem, 1.2rem + 0.8vw, 1.7rem);
}

.txt-xxl {
  font-size: clamp(1.7rem, 1.4rem + 0.6vw, 3rem);
}

.txt-huge {
  font-size: clamp(2rem, 1.7rem + 3vw, 5rem);
}
.primary-btn {
  transition: 300ms;
  height: 3rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  width: auto;
  display: inline-flex;
  align-items: center;
  padding: 0rem 1.4rem;
  border-radius: 3px;
  background-color: var(--yellow-primary);
  color: var(--black-bg-lighter);
  border: none;

  &:hover {
    transition: 300ms;
    background-color: var(--button-hovered); // hover bg
  }

  &:active,
  &.active {
    transition: 100ms;

    background-color: var(--button-clicked); // clicked bg

    transform: translateY(1px);
  }
  &:disabled {
    background-color: var(--yellow-secondary);
    cursor: not-allowed;
    &:hover {
      transition: 0;
    }
    &:active,
    &.active {
      transition: 0;
      transform: none;
    }
  }
}

.primary-btn-dark {
  @extend .primary-btn;
  background-color: var(--black-bg-dark);
  color: var(--light-text);
  &:hover {
    background-color: var(--menu-button-hovered);
  }
  &:active,
  &.active {
    background-color: var(--menu-button-clicked); // clicked bg
  }
}

.menu-btn {
  transition: 300ms;
  height: 2rem;
  font-family: inherit;
  font-size: 1rem;
  width: auto;
  display: inline-flex;
  align-items: center;
  padding: 0.7rem 1.4rem;
  border-radius: 3px;
  background-color: transparent;
  color: var(--yellow-primary);
  border: none;
  text-align: center;

  &:hover {
    transition: 300ms;
    background-color: var(--menu-button-hovered); // hover bg
  }

  &:active,
  &.active {
    transition: 100ms;

    background-color: var(--menu-button-clicked); // clicked bg

    transform: translateY(1px);
  }
}

@media (min-width: 992px) {
  .section {
    padding: 4rem;
    min-height: calc(100vh - var(--navbar-height-pc));
    height: fit-content;
  }
}

@media (max-width: 992px) {
  .menu-btn {
    border: 1px solid var(--grey-border);
  }

  .section {
    padding: 2rem;
    min-height: calc(100vh - var(--navbar-height-mobile));
    height: fit-content;
  }
}

//Snackbar customization->
.warning-snackbar.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: var(--black-bg-lighter);
    border: 1px solid var(--yellow-secondary);
    .mat-mdc-button {
      color: var(--light-text) !important;
    }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: var(--light-text) !important;
    font-weight: 300;
    white-space: pre-wrap;
    font-family: 'SpaceGrotesk';
  }
  .mat-mdc-snack-bar-actions {
    button {
      border: 1px solid var(--black-bg-dark) !important;
      background-color: rgba(39, 39, 36, 0.9) !important;
    }
    .mdc-button__label {
      color: var(--yellow-primary) !important;
    }
  }
}
